#!/usr/bin/make -f

%:
	dh $@ --with python3

clean:
	PYTHON="python3" ./waf distclean
	rm -fr build .lock-waf* po/.intlcache
	find Documentation -name "*.html" -delete
	find waflib -name "*.pyc" -delete
	dh $@

override_dh_auto_configure:
	PYTHONDIR=/usr/share/kupfer PYTHON="python3" ./waf configure --prefix=/usr --nopyc --nopyo \
		--bindir=/usr/share/kupfer --no-runtime-deps

override_dh_auto_install:
	PYTHON="python3" ./waf install --destdir=$(CURDIR)/debian/kupfer
	make -C Documentation
	rst2man Documentation/Manpage.rst build/kupfer.1
